{% extends "layout.njk" %}

 {% block head %}
    <title>SHBASILIO TECH | Movimentações</title>
{% endblock %}

{% block content %}

    <div class="page">
    <h2 class="active">movimentação</h2>

    <div class="wrapper">
        <div class="cards">

        <div class="input-wrapper">
            <div class="strong">Tipo de movimentação:</div>
            <div>
            {{movimentacao.typemovement}}
            </div>
        </div>

        <div class="input-wrapper">
            <div class="strong">Data e Hora do Início:</div>
            <div class="input-dateTime">
            <span>{{movimentacao.startdate}}</span>
            <span>{{movimentacao.starttime}}</span>
            </div>
        </div>

        <div class="input-wrapper">
            <div class="strong">Data e Hora do Fim:</div>
            <div class="input-dateTime">
            <span>{{movimentacao.enddate}}</span>
            <span>{{movimentacao.endtime}}</span>
            </div>
        </div>

        <a href="/movimentacoes/{{ movimentacao.id }}/edit" class="button">editar</a>
   
        </div>

    </div><!--wrapper-->
    </div><!--page-->

{% endblock %}